namespaceaks: 'pr2jenkins'
resourcegroup: 'rg-casopractico2'
aksname: 'akscc'
directorio_trabajo: "/tmp"
volumen:
  nombre: pvc-jenkins
  capacidad: 3Gi
aplicacion:
  definicion: "stateless.yaml"
  nombre: jenkins
  imagen: mariancc.azurecr.io/aks/jenkins:casopractico2
  replicas: 1
  recursos:
    cpu: 100m
    memoria: 128Mi
  limites:
    cpu: 250m
    memoria: 256Mi
  puerto: 8080
serviceaccount:
  name: "jenkins-admin"