apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ volumen.nombre }}"
  namespace: "{{ namespaceaks }}"
spec: 
  storageClassName: azurefile-csi
  resources:
    requests:
      storage: "{{ volumen.capacidad }}"
  accessModes:
    - ReadWriteOnce

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ aplicacion.nombre }}"
  namespace: "{{ namespaceaks }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "{{ aplicacion.nombre }}"
  template:
    metadata:
      labels:
        app: "{{ aplicacion.nombre }}"
    spec:
      nodeSelector:
        "kubernetes.io/os": linux
      containers:
      - name: "{{ aplicacion.nombre }}"
        image: "{{ aplicacion.imagen }}"
        resources:
            requests:
                cpu: "{{ aplicacion.recursos.cpu }}"
                memory: "{{ aplicacion.recursos.memoria }}"
            limits:
                cpu: "{{ aplicacion.limites.cpu }}"
                memory: "{{ aplicacion.limites.memoria }}"
        ports:
        - containerPort: {{ aplicacion.puerto }}
          name: jenkins
        volumeMounts:
        - name: "{{volumen.nombre}}"
          mountPath: "/var/jenkins_home"
      volumes:
      - name: "{{volumen.nombre}}"
        persistentVolumeClaim:
          claimName: "{{volumen.nombre}}"
---
apiVersion: v1
kind: Service
metadata:
  name: "{{ aplicacion.nombre }}"
  namespace: "{{ namespaceaks }}"
spec:
  type: LoadBalancer
  ports:
  - port: {{ aplicacion.puerto }}
  selector:
    app: "{{ aplicacion.nombre }}"

