---
- name: "Create podman image and push it"
  hosts: localhost
  connection: local
  vars_files:
    - vars/acr_vars.yaml
  tasks:
    - debug:
        msg: 
          - " HOME is {{ansible_env.HOME}}"
    - name: "just create a directory"
      file:
        path: "{{ansible_env.HOME}}/servidorweb"
        state: directory
    
    - name: "Git clone source code" #esto descarga los ficheros de containerfile, index.html y nginx.conf
      ansible.builtin.git:
        repo: https://github.com/mariancuadra/webserviceng.git
        dest: "{{ansible_env.HOME}}/servidorweb"
        version: main
        
    #- name: "Check dependency passlib"
    #  become: true en ubuntu
    #  ansible.builtin.apt: para ubuntu
    #    name: python3-passlib
    #    state: present
      
    - name: "Add profesor user to a password file"
      become: true
      htpasswd:
        path: "{{ansible_env.HOME}}/servidorweb/.htpasswd"
        name: profesor
        password: unir2023

    - name: "Add marian user to a password file"
      become: true
      htpasswd:
        path: "{{ansible_env.HOME}}/servidorweb/.htpasswd"
        name: marian
        password: unir2023

    - name: "Create private key"
      community.crypto.openssl_privatekey:
        path: "{{ansible_env.HOME}}/servidorweb/cert.key"
        size: 2048
    - name: "Generate OpenSSL Certificate Signing Request"
      community.crypto.openssl_csr:
        path: "{{ansible_env.HOME}}/servidorweb/csrfile.csr"
        privatekey_path: "{{ansible_env.HOME}}/servidorweb/cert.key"
         
    - name: "Generate OpenSSL Certificate"
      community.crypto.x509_certificate:
        path: "{{ansible_env.HOME}}/servidorweb/certificado.crt"
        privatekey_path: "{{ansible_env.HOME}}/servidorweb/cert.key"
        csr_path: "{{ansible_env.HOME}}/servidorweb/csrfile.csr"
        provider: selfsigned
           
    
    - name: "Podman Login"
      containers.podman.podman_login:
        username: "{{usernameacr}}"
        password: "{{passwacr}}"
        registry: "{{acrserver}}"

    - name: "Build Podman Image and push"
      containers.podman.podman_image:
        name: servidorweb
        path: "{{ansible_env.HOME}}/servidorweb"
        tag: casopractico2
        push: true
        push_args:
          dest: "{{acrserver}}/podman"