---
- name: "Download image and un podman container"
  hosts: vms
  remote_user: contenedor

  vars_files:
    - vars/acr_vars.yaml
  tasks:
    - debug:
        msg: 
          - " HOME is {{ansible_env.HOME}}"

    - name: "Check dependency podman"
      become: true 
      ansible.builtin.apt: 
        name: podman
        state: present
        update_cache: yes
        

    - name: "Podman Login in acr"
      containers.podman.podman_login:
        username: "{{usernameacr}}"
        password: "{{passwacr}}"
        registry: "{{acrserver}}"

    - name: "Download image"
      containers.podman.podman_image:
        name: "{{acrserver}}/podman/servidorweb"
        tag: casopractico2

    - name: "Create a podman container"
      become: true 
      containers.podman.podman_container:
        name: miservidorweb
        image: "{{acrserver}}/podman/servidorweb:casopractico2"
        state: created
        ports: "8080:443"

    - name: Generate systemd unit file for miservidorweb container
      become: true 
      containers.podman.podman_generate_systemd:
        name: miservidorweb
        new: true
        no_header: true
        dest: /etc/systemd/system     

    - name: "Reload systemd"
      become: true
      ansible.builtin.systemd:
        name: container-miservidorweb
        daemon_reload: true
        state: started
        enabled: true